.wrapper {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  margin-top: 10px;
}

body {
  background-color: lightgray;
}


.pageHeader {
  width: 100%;
  background: white;
  position: top;
  text-decoration: black;
  height: 80px;
  text-align: center;
  margin-top: 0;
  padding: 10px 0;
  font-family: 'Courier New', Courier, monospace;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.foto1Container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  background: white;
  border-radius: 15px;
  margin-bottom: 60px;
  margin-top: 10px;

}

.main {
  width: 500px;
  height: 600px;
  overflow: hidden;
}

.header {
  margin: 0 auto;
  font-size: 20px;
  color: black;

}

.foto1 {
  width: 400px;
  height:455px;
  text-decoration: black;
  align-items: center;
  display: block;
  text-size-adjust: 10;
}



h2 {
  font-size: medium;
  padding-right: 240px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


